@{
    ViewData["Title"] = "Hakkımda";
}

<div class="container mt-5">
    <div class="p-5 mb-4 rounded-3 shadow-sm" style="background-color: ghostwhite; border: 2px solid pink; border-left: 8px solid pink;">

        <h1 class="display-5 fw-bold mb-4" style="color: pink;">Hakkımda</h1>

        <p class="fs-4 fw-bold" style="color: black; line-height: 1.8;">
            Samsun Üniversitesi'nde bir <span style="color: pink;">Backend Developer</span> adayı olarak, dijital dünyaların görünmeyen ama en kritik parçalarını inşa etmeye odaklandım. <br><br>
            Benim için kod yazmak; sadece ekranlardaki görüntülerden ibaret değil, bir sistemin kalbindeki veriyi yönetmek ve karmaşık süreçleri en verimli şekilde birbirine bağlamaktır.
            Şu an <span style="color: pink;">C#</span> ve <span style="color: pink;">ASP.NET Core</span> mimarisinin mutfağında, sistemlerin nasıl nefes aldığını ve veritabanı ile nasıl konuştuğunu öğreniyorum.
            <br><br>
            Görünenin ötesine geçmeyi seven bir yazılımcı olarak hedefim; ölçeklenebilir, güvenli ve performansı yüksek mimariler tasarlayarak teknoloji dünyasında kalıcı bir imza bırakmak.
        </p>

    </div>
</div>